.okn-object-form {

    &__photos {
        position: relative;

        .okn-upload-btn {
            position: absolute;
            top: -34px;
            left: 215px;
        }
    }

    &__submit {
        margin-left: 10px;
    }
}
