.okn-object-events {
    background-color: #f4f5fa;
    min-height: 185px;
    padding: 0 40px;
}

.okn-object-events__loading.ant-spin {
    margin: 0 auto;
    display: block;
}

.okn-object-events__message {
    display: block;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.okn-object-events .okn-object-events__title {
    padding: 22px 0;
    text-align: center;
    font-size: 28px;
}

.okn-object-events__fake-block {
    height: 55px;
}

.okn-object-events__container .ant-timeline-item-tail {
    border-left: 2px solid #dadada;
}

.okn-object-events__container .ant-timeline-item-head {
    background-color: #f4f5fa;
    top: 11px;
}

.okn-object-events__container.ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content,
.okn-object-events__container.ant-timeline.ant-timeline-right .ant-timeline-item-left .ant-timeline-item-content {
    left: calc(50% + 18px);
    width: calc(50% - 34px);
    text-align: left;
}

.okn-object-events__container.ant-timeline.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content,
.okn-object-events__container.ant-timeline.ant-timeline-right .ant-timeline-item-right .ant-timeline-item-content {
    width: calc(50% - 34px);
    margin: 0;
    text-align: right;
}

.okn-dot-year {
    background-color: #6967ce;
    border-radius: 1.5rem;
    box-shadow: 0 1px 7px 1px rgba(105, 103, 206, .5);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .8px;
    line-height: 1.25;
    padding: .5rem 1.5rem;
}

.okn-dot-year .okn-dot-year__icon {
    margin-right: 6px;
}

.okn-dot-event {
    background-color: #42b983 !important;
    border-radius: 50%;
    box-shadow: 0 1px 7px 1px rgba(66, 185, 131, .5);
    height: 36px;
    padding: 8px;
    width: 36px;
    text-align: center;
}

.okn-dot-event__icon {
    color: white !important;
    font-size: 20px;
}