@import '../../colors';

.okn-object-events {
    background-color: $okn-light-grey;
    border-top: 1px solid rgba(0, 0, 0, .1);
    min-height: 185px;
    padding: 0 40px;
    position: relative;

    &__loading.ant-spin {
        margin: 0 auto;
        display: block;
    }

    &__title {
        padding: 22px 0;
        text-align: center;
        font-size: 34px;
        font-weight: 600;
        margin: 0;

        &__edit-button {
            background-color: #fff;
            border-radius: 4px 0 0 4px;
            box-shadow: 0 0 3px 1px rgba(62, 57, 107, 0.1);
            padding-right: 5px;
            position: absolute;
            right: 0;
            top: 32px;

            .ant-btn-link {
                display: block;
            }

            .anticon {
                font-size: 18px;
                line-height: 0 !important;
            }
        }
    }

    &__message {
        display: block;
        font-size: 16px;
        font-style: italic;
        text-align: center;
    }

    &__timeline {
        &.ant-timeline {
            &.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content {
                left: calc(50% + 18px);
                width: calc(50% - 36px);
                text-align: left;
            }

            &.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content {
                width: calc(50% - 34px);
                margin: 0;
                text-align: right;
            }

            &.ant-timeline-left {
                margin-left: 50px;

                .ant-timeline-item-left .ant-timeline-item-content {
                    left: 23px;
                    width: calc(100% - 41px);
                }
            }
        }

        &__fake-block {
            height: 55px;
        }
        
        .ant-timeline-item-tail {
            border-left: 1.5px solid rgba(0, 0, 0, .1)
        }

        .ant-timeline-item-head {
            background-color: $okn-light-grey;
            top: 11px;
        }
    }
}

.okn-dot-year {
    background-color: $okn-dark-blue;
    border-radius: 1.5rem;
    box-shadow: 0 1px 7px 1px rgba($okn-dark-blue, 0.4);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .8px;
    line-height: 1.25;
    padding: .5rem 1.5rem;
    
    &__icon {
        margin-right: 6px;
    }
}

.okn-dot-event {
    background-color: $okn-ocean-green !important;
    border-radius: 50%;
    box-shadow: 0 1px 7px 1px rgba($okn-ocean-green, 0.4);
    height: 36px;
    padding: 8px;
    width: 36px;
    text-align: center;
    
    &__icon {
        color: white !important;
        font-size: 20px;
    }
}