@import '../../colors';

$cover-photo-size: 120px;

.okn-last-events {
    margin-top: 30px;

    &__title {
        border-bottom: 5px solid $okn-dark-blue;
        margin-bottom: 25px;
        font-weight: 600;
    }

    .okn-event {
        margin-bottom: 20px;

        &__object-name {
            margin-left: 5px;
        }

        &__name {
            font-weight: 600;
        }

        &__date {
            color: rgba(0, 0, 0, 0.25);
            font-size: 13px;
        }
    }
}
