.okn-home-page {
    margin: 0 40px 40px;

    .okn-filters-panel {
        margin: 15px 0;

        &__col {
            margin-bottom: 15px;
        }

        .okn-object-type-select {
            width: 100%;
        }

        .okn-view-type-switch {
            padding-top: 4px;
            padding-bottom: 4px;

            &__label {
                margin: 2px 6px 2px 0;
                vertical-align: middle;
                font-weight: 600;
            }
        }
    }
}
