@import '../colors';

.okn-object {

    &__title {
        padding: 20px 40px;
        background-color: $okn-blue;
        color: #fff;
        font-weight: 600;
        font-size: 38px;
        position: relative;
        margin: 0;

        &:after {
            top: 100%;
            right: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-top-color: $okn-blue;
            border-width: 22px;
            margin-top: 0;
        }

        &__edit-button {
            background-color: #fff;
            border-radius: 4px 0 0 4px;
            box-shadow: 0 0 3px 1px rgba(62, 57, 107, 0.1);
            padding-right: 5px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -16px;

            .ant-btn-link {
                display: block;
            }
        }
    }

    &__content {
        margin: 0 40px;
        padding: 40px 0;

        .okn-gallery {
            margin-top: 15px;
        }
    }
}
