@import '../colors';

$gallery-gutter: 2px;

.okn-gallery {
    overflow: hidden;
    margin-left: -$gallery-gutter;
    margin-right: -$gallery-gutter;

    &__item {
        background-color: $okn-light-grey;
        border-radius: 2px;
        box-sizing: border-box;
        float: left;
        margin: $gallery-gutter;
        overflow: hidden;
        padding-bottom: 16%;
        position: relative;
        width: calc(20% - #{$gallery-gutter} * 2);

        &:hover {
            opacity: .9;
        }

        img {
            cursor: pointer;
            position: absolute;
            max-width: 100%;
        }
    }
}
