.okn-nav {
    padding: 15px 0;
    margin: 0 20px !important;

    &__logo {
        height: 25px;
        width: 25px;
        vertical-align: top;
        margin-right: 7px;
    }

    &__link {
        font-size: 18px;
        font-weight: bold;
        color: #2c3e50;

        &--active {
            color: #42b983;
        }
    }
}
