@import '~antd/dist/antd.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import './colors';

.okn-empty-state {
    color: #909399;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--grey {
        background: $okn-light-grey;
    }

    &__icon {
        font-size: 80px;
        color: rgba(0, 0, 0, .7) !important;
        margin-bottom: 15px;
    }
}

.okn-map {
    .okn-map__nav {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;

        .mapboxgl-ctrl-group {
            margin-bottom: 10px;
        }
    }

    .okn-map__loading {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: .5;
        height: 100%;
        width: 100%;
    }

    .okn-map__pin {
        border-radius: 50%;
        box-shadow: 0 1px 7px 1px #a9a9a9;

        &--small {
            border: 2px solid #fff;
            height: 15px;
            width: 15px;
        }

        &--medium {
            border: 3px solid #fff;
            height: 30px;
            width: 30px;
        }

        &--volcano {
            background-color: #fa541c;
        }

        &--cyan {
            background-color: #13c2c2;
        }

        &--green {
            background-color: #52c41a;
        }

        &--purple {
            background-color: #722ed1;
        }
    }
}
