$okn-light-grey: #f6f9fc;
$okn-black: #2c3e50;

$okn-blue: #41a3e1;
$okn-dark-blue: #006ca1;

$okn-volcano: #fa541c;
$okn-gold: #faad14;
$okn-cyan: #13c2c2;
$okn-green: #52c41a;
$okn-ocean-green: #42b983;
$okn-purple: #722ed1;
$okn-geekblue: #2f54eb;
